<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/icons/atomic.png">
    <title>Ezra Minty</title>
</head>
<body>
    <div id="app">

        <nav id="nav-bar">
            <ul id="left-ul">
                <li><a href="#">Ezra Minty</a></li>
            </ul>
            <ul id="right-ul">
                <li><a href="#">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="assets/PDFs/Resume - (Ezra Minty).pdf" target="_blank">Resume</a></li>
                <li><a href="assets/PDFs/Curriculum Vitae - (Ezra Minty).pdf" target="_blank">CV</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
            <button id="hamburger" @click="toggleBurger" v-if="burgerActice == false">
                <div id="bar"></div>
            </button>
        </nav>
        
        <div id="slide-bar" v-if="burgerActice">
            
            <ul id="pageList">
                <li><a href="#" @click.prevent="toggleBurger">Home</a></li>
                <li><a href="#projects" @click="toggleBurger">Projects</a></li>
                <li><a href="assets/PDFs/Resume - (Ezra Minty).pdf" target="_blank" @click="toggleBurger">Resume</a></li>
                <li><a href="assets/PDFs/Curriculum Vitae - (Ezra Minty).pdf" target="_blank" @click="toggleBurger">CV</a></li>
                <li><a href="#contact" @click="toggleBurger">Contact Me</a></li>
                <li><a href="#" @click.prevent="toggleBurger" style="color: red; font-weight: bold;">Close</a></li>
            </ul>
        </div>

        <div id="header" v-if="!burgerActice">
            <div id="headerImage">
                <img src="assets/images/portfolioPicture.png" alt="Developer Picture" id="portfolioPicture">
            </div>
            <div id="headerText">
                <h2>Ezra Minty</h2>
                <p>Versatile and creative professional with expertise in software development, web development, and penetration 
                    testing. Skilled in graphic design, video and photo editing, and CAD, with a passion for integrating technology 
                    and design to create innovative solutions.</p>
            </div>
        </div>

        <div id="projects" class="separator" v-if="!burgerActice">
            <h2>Projects</h2>
        </div>

        <div id="projectCards" v-if="!burgerActice">

            <a target="_blank" id="cardLink" v-for="(project, index) in projectArray" v-bind:href="linkArray[index]">
                <div id="card">
                    <div id="imgDiv">
                        <img v-bind:src="imgArray[index]" alt="">
                        <!-- <img src="https://th.bing.com/th/id/R.ebe9c33165afee33bf73975531779d0d?rik=0qpIE1Xgypj4ZA&riu=http%3a%2f%2fstatic6.businessinsider.com%2fimage%2f55ae6345371d22dc0b8b75e7-2673-2005%2fshutterstock_266369681.jpg&ehk=wOPe04%2bRfnfHQAnc8wibkjLtUU%2bKJ1cjm3TSP4T6w0g%3d&risl=&pid=ImgRaw&r=0" alt=""> -->
                    </div>
                    <div id="textDiv">
                        <h2>{{ project }}</h2>
                    </div>
                </div>
            </a>
        </div>

        <div id="contact" class="separator" v-if="!burgerActice">
            <h2>Contact Me</h2>
        </div>

        <div id="contactDiv" v-if="!burgerActice">
            <div id="instaDiv">
                <img src="assets/images/icons/instagram.png" alt="Instagram Icon">
                <h2><a href="https://www.instagram.com/xb_ze3?igsh=NnQzczY2azVvMWp5" target="_blank">xb_ze3</a></h2>
            </div>

            <div id="emailDiv">
                <img src="assets/images/icons/gmail.png" alt="Email Icon">
                <h2><a href="#">ezranminty@gmail.com</a></h2>
            </div>

            <div id="githubDiv">
                <img src="assets/images/icons/github.png" alt="Github Icon">
                <h2><a href="https://github.com/xbze3" target="_blank">xbze3</a></h2>
            </div>
        </div>

        <div class="separator" v-if="!burgerActice">
            <h2></h2>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    text: 'Hello',
                    burgerActice: false,
                    projectArray: ["Spotil", "News Scraper GUI", "News Scraper CLI", "TODO Website", "Student Management System", "Web Force", "IP Force"],
                    linkArray: ["https://github.com/xbze3/spotil", "https://github.com/xbze3/News-Scraper-GUI", "https://github.com/xbze3/News-Outlet-Scraper-CLI", "https://github.com/xbze3/TODO-Website", "https://github.com/xbze3/Student-Management-System-University-", "https://github.com/xbze3/Web-Force", "https://github.com/xbze3/IP-Force"],
                    imgArray: ["assets/images/spotil.png", "", "assets/images/nscli.png", "", "assets/images/sms.png", "assets/images/Web_Force.png", "assets/images/IP_Force.png"]
                }
            },
            components: ['nav-bar'],
            methods: {
                toggleBurger() {
                    this.burgerActice = !this.burgerActice
                    console.log(this.burgerActice)
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>