@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Lato", sans-serif;
    

}

#app {
    width: 100%;
}

#header {
    background-image: url(assets/images/background.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    height: 95%;
}

#nav-bar {
    background-color: #19323C;
    display: flex;
    justify-content: space-between;
}

#right-ul {
    display: inline;
    padding: 20px;
}

#right-ul > li {
    display: inline-block;
    list-style-type: none;

}

#left-ul {
    display: inline;
    list-style-type: none;
    padding: 20px;

}

#right-ul > li > a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;


}

#left-ul > li > a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;

}

#nav-bar > ul > li > a:hover{
    font-weight: bold;
}

#hamburger {
    display: block;
    position: relative;
    width: 35px;
    cursor: pointer;

    appearance: none;
    /* background-color: none; */
    background-color: #19323C;
    outline: none;
    border: none;
    margin: 10px;
    margin-right: 25px;
}

#hamburger #bar, #hamburger:after, #hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
}


#slide-bar {
    background-color: #497c90;
    height: 100%;
    position: absolute;
    right: 0%;
}

#slide-bar > ul {
    /* display: ; */
    list-style-type: none;
    margin: 20px 0px 0px 10px;
}

#pageList > li {
    padding: 40px 50px 0px 50px;
    text-align: center;
}

#pageList > li > a {
    color: white;
    text-decoration: none;

}

#slide-bar > ul > li > a:hover {
    font-weight: bold;
}

#closeList {
}

#closeList > li {
    list-style-type: none;
    text-align: center;
    
}

/* #closeList > li > a{
    color: white;
    text-decoration: none;
    position: absolute;
    top: 1px;
    right: 70px;
} */

#header {
    display: flex;
    color: #19323C;

}

#headerText {
    margin: 120px 0px 0px 0px;
    padding-left: 60px;
    width: 600px;
}

#headerText > h2 {
    font-size: 70px;
}

#headerText > p {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    /* padding-bottom: 30px; */
}

#portfolioPicture {
    width: 400px;
    margin: 80px 0px 0px 60px;
}

.separator {
    width: 100%;
    text-align: center;
    background-color: #19323C;
    color: white;
}

.separator > h2{
    padding: 20px 0px 20px 0px;
    /* margin-bottom: 30px; */
    text-align: center;
}

#projectCards {
    /* background-color: red; */
    /* display: flex; */
    /* justify-content: space-between; */
    background-image: url(assets/images/background.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    width: 100%;

}

#cardLink {
    text-decoration: none;
    color: white;
    /* background-color: aqua; */
    margin: 30px 0px 0px 30px;

}

#card {
    background-color: #19323C;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 15px 0px 15px 0px;

}

#textDiv {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

#imgDiv {
    /* display: flex; */
}

#imgDiv > img {
    width: 350px;
    height: 200px;
}

#contactDiv {
    background-image: url(assets/images/background.png);
    background-position: center;
    width: 100%;
    
    /* padding: 40px 0px 0px 40px; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#contactDiv > div {
    padding: 25px 0px 25px 0px;
    display: flex;

}

#contactDiv > div > h2 {
    margin: 15px;

}

#contactDiv > div > h2 > a {
    color: #19323C;
    text-decoration: none;

}

/* #instaDiv {
    padding: 50px 0px 50px 50px;
    width: 100%;
}

#emailDiv {
    padding: 50px 0px 50px 50px;
    width: 100%;
}

#githubDiv {
    padding: 50px 0px 50px 30px;
    width: 100%;
} */


@media screen and (max-width: 545px){


    #right-ul {
        display: none;
    }

    #portfolioPicture {
        width: auto;
        max-width: 100%;
        margin: 80px 0px 0px 0px;
    }

    #headerText {
        margin: 120px 100px 0px 100px;
        width: auto;
        /* max-width: 100%; */

    }
    #headerText > h2 {
        font-size: 40px;
    }
    
    #headerText > p {
        margin: 20px 0px 0px 0px;
        font-size: 13px;

    }

}

@media screen and (max-width: 2000px){

    #portfolioPicture {
        width: 400px;
        margin: 80px 0px 0px 30px;
    }
 
    #headerText {
        margin: 120px 0px 0px 0px;
        padding-left: 20px;
        width: 600px;
        
    }

    #headerText > h2 {
        font-size: 40px;
    }
    
    #headerText > p {
        margin: 10px 0px 10px 0px;

    }

    #projectCards {
        text-align: center;
    }

    #card {
        margin: 10px 10px 20px 10px;
    }

    #cardLink {
        margin: 0px 0px 0px 0px;

    }
    
}

@media screen and (max-width: 940px){

    #portfolioPicture {
        width: 400px;
        margin: 40px 0px 0px 5px;
    }
 
    #headerText {
        margin: 120px 0px 0px 0px;
        padding-left: 10px;
        width: 600px;
    }

    #headerText > h2 {
        font-size: 30px;
    }

    #projectCards {
        text-align: center;
    }
}

@media screen and (max-width: 414px){
    #header {
        text-align: center;

    }

    #card {
        margin: 10px 0px 20px 0px;
        width: auto;
    }

    #cardLink {
        margin: 0px 0px 0px 0px;

    }

}

@media screen and (max-width: 730px){
    #contactDiv {
        display: inline-block;
    }

    #contactDiv > div {
        justify-content: center;
    }

}

@media screen and (min-height: 630px){
    #header {
        height: 630px;
    }
}

@media screen and (max-width: 920px){
    #portfolioPicture {
        width: 400px;
        margin: 40px 0px 0px 0px;
    }

    #header {
        display: inline-block;
        text-align: center;
        align-items: center;
        padding-bottom: 100px;
        height: 600px;
    }

    #headerText {
        display: block;
        text-align: center;
        margin: 30px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;

    }

}
    
@media screen and (min-width: 545px){
    #hamburger {
        display: none;
    }
}